<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Preview - <%= data['title'] %></title>
</head>
<body>
    <section class="preview">
        <div class="home">
            <a href="/">
                <i class="fa-solid fa-arrow-left-long"></i>
            </a>
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <path fill="#C93B1E" d="M45.5,-53.9C58.9,-43,69.7,-28.6,70.9,-13.7C72.2,1.2,63.8,16.6,54.6,30.5C45.4,44.3,35.2,56.6,20.6,66.2C5.9,75.7,-13.3,82.4,-28.4,77.3C-43.5,72.1,-54.5,55,-63.9,37.5C-73.3,20,-81,2.2,-79.8,-15.7C-78.6,-33.7,-68.6,-51.7,-53.8,-62.4C-39,-73.1,-19.5,-76.5,-1.7,-74.4C16,-72.3,32.1,-64.8,45.5,-53.9Z" transform="translate(100 100)" />
            </svg>
        </div>
        <div class="preview-card">
            <img src=<%= data["images"] %> alt=<%= data["title"] %>>
            <p class="site-name">
                <%= data["siteName"] %>
            </p>
            <p class="title">
                <%= data["title"] %>
            </p>
            <p class="description">
                <%= data['description'] %>
            </p>
        </div>
        <div class="more-data-container">
            <button id="btn-more-info">More Info  <i class="fa-solid fa-angle-down"></i></button>
            <div class="more-data" id="more-data">
                <p><strong>Media Type:</strong> <%= data["mediaType"] %></p>
                <p><strong>Content Type:</strong> <%= data["contentType"] %></p>
                <p><strong>Favicon:</strong></p>
                <img src=<%= data["favicons"][0] %> alt="favicon of the site">
            </div>
        </div>
    </section>

    <script>
        const btn = document.getElementById("btn-more-info");
        const moreData = document.getElementById("more-data");

        btn.addEventListener("click", (event) => {
            if(!moreData.classList.contains("show-data")) {
                moreData.classList.add("show-data");
            } else {
                moreData.classList.remove("show-data");
            }
        });
    </script>
</body>
</html>